<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="card card-primary card-outline">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputFile">Auftraggeber</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="text" placeholder="Mitarbeitername" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Einrichtung</label>
                            <input type="text" class="form-control" id="exampleInput" placeholder="Einrichtungsname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mandant</label>
                            <input type="text" class="form-control" id="exampleInput" placeholder="Mandatname">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Ticketnummer</label>
                            <input type="text" class="form-control" id="exampleInput" placeholder="z. B. 10001">
                        </div>
                        <div class="form-group">
                            <label>Beschreibung</label>
                            <textarea class="form-control" rows="3" placeholder="Schreiben Sie hier etwas..."></textarea>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Produktskategory</th>
                                    <th>Maximalpreis</th>
                                    <th>Mit Biterspiegel?</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Notebook</td>
                                    <td>600</td>
                                    <td>Ja</td>
                                    <td><button type="button" class="btn btn-block bg-gradient-success">Erstellt Bieterspiegel</button></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Handy</td>
                                    <td>500</td>
                                    <td>Ja</td>
                                    <td><button type="button" class="btn btn-block bg-gradient-success">Erstellt Bieterspiegel</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Zubehör</td>
                                    <td>70</td>
                                    <td>Nein</td>
                                    <td><button type="button" class="btn btn-block bg-gradient-warning">Bestellt Produkt</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer clearfix">
                        <a href="#" class="card-link">Zurück zur Liste</a>
                        <a href="#" class="card-link"> </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>

